<h1 class="page-header">Create Container</h1>

<form method="POST" action="/create_container">
	<div class="form-group">
		<label for="name" class="control-label">Name</label>
		<input type="text" class="form-control" id="name" name="name" value="<%= name rescue '' %>">

		<label for="hostname" class="control-label">Hostname</label>
		<input type="text" class="form-control" id="hostname" name="hostname" value="<%= hostname rescue '' %>">

		<label for="description" class="control-label">Description</label>
		<input type="text" class="form-control" id="description" name="description" value="<%= description rescue '' %>">

		<label for="distro_id" class="control-label">Distro</label>
		<select size="1" class="form-control" id="distro_id" name="distro_id">
			<% distros.each{ |distro| %>
				<% selected = if distro_id.to_i == distro.id then "selected" else "" end rescue "" %>
				<option value="<%= distro.id %>" <%= selected %>><%= distro.name %></option>
			<% } %>
		</select>

		<label for="storage_type" class="control-label">Storage Type</label>
		<select size="1" class="form-control" id="storage_type" name="storage_type">
			<% LxcManager::Container::StorageType.constants.each{ |storage_type| %>
				<% selected = if LxcManager::Container::StorageType.const_get(storage_type) == storage_type then "selected" else "" end rescue "" %>
				<option value="<%= LxcManager::Container::StorageType.const_get(storage_type) %>" <%= selected %>><%= LxcManager::Container::StorageType.const_get(storage_type) %></option>
			<% } %>
		</select>

		<label for="size_gb" class="control-label">Size [GB]</label>
		<input type="text" class="form-control" id="size_gb" name="size_gb" value="<%= size_gb rescue '' %>">
	</div>

	<a type="button" class="btn btn-default" href="javascript:history.back();">Cancel</a>
	<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#waitReloadModal">Submit</button>
</form>
