<h1 class="page-header">Create <%= reverse_proxy.name %>'s Substitute</h1>

<form method="POST" action="/create_reverse_proxy_substitute/<%= reverse_proxy.id %>">
	<div class="form-group">
		<label for="name" class="control-label">Name</label>
		<input type="text" class="form-control" id="name" name="name" value="<%= name rescue '' %>">

		<label for="pattern" class="control-label">Pattern</label>
		<input type="text" class="form-control" id="pattern" name="pattern" value='<%= pattern.gsub("'","\\'") rescue 'pattern' %>'>

		<label for="replacement" class="control-label">Replacement</label>
		<input type="text" class="form-control" id="replacement" name="replacement" value='<%= replacement.gsub("'","\\'") rescue 'replacement' %>'>
	</div>

	<a type="button" class="btn btn-default" href="javascript:history.back();">Cancel</a>
	<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#waitReloadModal">Submit</button>
</form>
