<h1 class="page-header">Edit <%= reverse_proxy_substitute.reverse_proxy.name %>'s Substitute <%= reverse_proxy_substitute.name%></h1>

<form method="POST" action="/edit_reverse_proxy_substitute/<%= reverse_proxy_substitute.id %>">
	<div class="form-group">
		<label for="name" class="control-label">Name</label>
		<input type="text" class="form-control" id="name" name="name" value="<%= name rescue reverse_proxy_substitute.name %>">

		<label for="pattern" class="control-label">Pattern</label>
		<input type="text" class="form-control" id="pattern" name="pattern" value='<%= pattern rescue reverse_proxy_substitute.pattern %>'>

		<label for="replacement" class="control-label">Replacement</label>
		<input type="text" class="form-control" id="replacement" name="replacement" value='<%= replacement rescue reverse_proxy_substitute.replacement %>'>
	</div>

	<a type="button" class="btn btn-default" href="javascript:history.back();">Cancel</a>
	<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#waitReloadModal">Submit</button>
</form>
