<h1 class="page-header">Snapshots</h1>

<div class="table-responsive">
	<table id="main-table" class="table table-striped">
		<thead>
			<tr>
				<th>Container</th>
				<th>Action</th>
				<th>Snapshots</th>
			</tr>
		</thead>
		<tbody>
			<% containers.all.each{ |container| %>
				<tr>
					<td>
						<%= container.name %>
					</td>
					<td>
						<div class="btn-group btn-group-xs" role="group" aria-label="...">
							<button type="button" class="btn btn-default" onClick="create_snapshot(<%= container.id %>);">
								<span class="glyphicon glyphicon-camera"></span> Take Snapshot
							</button>
						</div>
					</td>
					<td>
						<% if container.snapshots.any? %><!-- when container has snapshots -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Snapshot</th>
										<th></th>
										<th></th>
										<th>Action</th>
										<th>Clones</th>
									</tr>
								</thead>
								<tbody>
									<% container.snapshots.each{ |snapshot| %>
										<tr>
											<td>
												<%= snapshot.name %>
											</td>
											<td>
												<%= snapshot.created_at.in_time_zone( config['time_zone'] ) %>
											</td>
											<td>
												<div class="btn-group btn-group-xs" role="group" aria-label="...">
													<button type="button" class="btn btn-default" onClick="snapshot_detail(<%= snapshot.id %>);">
														<span class="glyphicon glyphicon-info-sign"></span> Detail
													</button>
												</div>
											</td>
											<td>
												<% rollback_disabled = unless snapshot.id == snapshot.container.snapshots.map{ |s| s.id }.max then "disabled" else "" end %>
												<div class="btn-group btn-group-xs" role="group" aria-label="...">
													<button type="button" class="btn btn-default" onClick="rollback_snapshot(<%= snapshot.id %>);" <%= rollback_disabled %>>
														<span class="glyphicon glyphicon-repeat"></span> Rollback
													</button>
													<button type="button" class="btn btn-default" onClick="create_clone(<%= snapshot.id %>);">
														<span class="glyphicon glyphicon-duplicate"></span> Clone
													</button>
													<button type="button" class="btn btn-default" onClick="destroy_snapshot(<%= snapshot.id %>);">
														<span class="glyphicon glyphicon-remove-sign"></span> Destroy
													</button>
												</div>
											</td>
											<td>
												<% if snapshot.clones.any? %><!-- when snapshot has clones -->
													<table class="table table-striped">
														<thead>
															<tr>
																<th>Clone</th>
																<th>Action</th>
															</tr>
														</thead>
														<tbody>
															<% snapshot.clones.each{ |clone| %>
																<tr>
																	<td>
																		<%= clone.container.name %>
																	</td>
																	<td>
																		<div class="btn-group btn-group-xs" role="group" aria-label="...">
																			<button type="button" class="btn btn-default" onClick="promote(<%= clone.container.id %>);">
																				<span class="glyphicon glyphicon-random"></span> Promote
																			</button>
																		</div>
																	</td>
																</tr>
															<% } %>
														</tbody>
													</table>
												<% end %>
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						<% end %>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>
